<?xml version="1.0"?>
<config>
    <modules>
        <Medma_Admintestimonials>
            <version>0.2.3</version>
        </Medma_Admintestimonials>
    </modules>
    <frontend>
        <routers>
            <admintestimonials>
                <use>standard</use>
                <args>
                    <module>Medma_Admintestimonials</module>
                    <frontName>admintestimonials</frontName>
                </args>
            </admintestimonials>
        </routers>
        <layout>
            <updates>
                <admintestimonials>
                    <file>videotestimonials.xml</file>
                </admintestimonials>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<admintestimonials>
				<use>admin</use>
				<args>
					<module>Medma_Admintestimonials</module>
					<frontName>admintestimonials</frontName>
				</args>
			</admintestimonials>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<catalog>
				<children>
					<admintestimonials module="admintestimonials">
						<title>Video Testimonials</title>
						<sort_order>71</sort_order>               
						<children>
							<items module="admintestimonials">
								<title>Manage Admin Video Testimonials</title>
								<sort_order>0</sort_order>
								<action>admintestimonials/adminhtml_admintestimonials</action>
							</items>
							<customertestimonials module="admintestimonials">
								<title>Manage Customer Video Testimonials</title>
								<sort_order>1</sort_order>
								<action>admintestimonials/adminhtml_customertestimonials</action>
							</customertestimonials>
						</children>
					</admintestimonials>
				</children>
			</catalog>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Medma_Admintestimonials>
							<title>Admintestimonials Module</title>
							<sort_order>10</sort_order>
						</Medma_Admintestimonials>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<admintestimonials>
					<file>admintestimonials.xml</file>
				</admintestimonials>
			</updates>
		</layout>
    </adminhtml>   
    <global>
		<events>
			<medma_domain_authentication>
				<observers>
					<medma_admintestimonials_observer>
						<class>Medma_Admintestimonials_Model_Authenticate</class>
						<method>saveDomain</method>
					</medma_admintestimonials_observer>
				</observers>
			</medma_domain_authentication>
		</events>
        <models>
            <admintestimonials>
                <class>Medma_Admintestimonials_Model</class>
                <resourceModel>admintestimonials_mysql4</resourceModel>
            </admintestimonials>
            <admintestimonials_mysql4>
                <class>Medma_Admintestimonials_Model_Mysql4</class>
                <entities>
                    <admintestimonials>
                        <table>admin_video_testimonials</table>
                    </admintestimonials>
                    <customertestimonials>
                        <table>customer_video_testimonials</table>
                    </customertestimonials>
                </entities>
            </admintestimonials_mysql4>
        </models>
        <resources>
            <admintestimonials_setup>
                <setup>
                    <module>Medma_Admintestimonials</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </admintestimonials_setup>
            <admintestimonials_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </admintestimonials_write>
            <admintestimonials_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </admintestimonials_read>
        </resources>
        <blocks>
            <admintestimonials>
                <class>Medma_Admintestimonials_Block</class>
            </admintestimonials>
            <!--<catalog>
                <rewrite>
                    <product_view>Medma_Admintestimonials_Block_Catalog_Product_View</product_view>
                </rewrite>
            </catalog>-->
        </blocks>
        <helpers>
            <admintestimonials>
                <class>Medma_Admintestimonials_Helper</class>
            </admintestimonials>
        </helpers>
    </global>
</config>
